:root {
    --primary-white-color: #ffffff;
    --primary-gray-color: #303030;
    --primary-text-color: #9DA4BD;
    --secondary-text-color: #555555;
    --accent-color: #FF6C00;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

img {
    display: block;
}

.container {
    /* outline: 1px solid red; */
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;

}

* {
    margin: 0;
    padding: 0;
}

.text-decor {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* header */
.header {
    background-color: gray;
}

.header-flex {
    display: flex;
    align-items: center;

}

.logo {
    margin-right: 131px;
}

.nav-list {
    display: flex;
    gap: 30px;
}

.nav-link {
    color: var(--primary-white-color);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}

.header-right {
    margin-left: auto;
}

.header-tel {
    color: var(--primary-white-color);
    text-transform: uppercase;
    margin-right: 40px;
}

.header-tel:hover,
.header-tel:focus {
    color: var(--accent-color);
}

.btn {
    cursor: pointer;
    min-width: 160px;
    height: 40px;
    color: var(--primary-white-color);
    background-color: transparent;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    border: 1px solid var(--accent-color);
    border-radius: 25px;
}

/* hero */
.hero {}

.hero-wrap {
    display: flex;
}

.hero-list {
    width: 100px;
    background-color: #fff;
}

.hero-text {
    flex-grow: 1;
    padding-left: 100px;
    background-image: url(../images/slider3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 204px;
    padding-bottom: 208px;
}

.hero-link {
    color: var(--primary-gray-color);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
}

.hero-link:hover,
.hero-link:focus {
    color: var(--accent-color);
}

.uptitle {
    display: inline-block;
    margin-bottom: 20px;
    color: var(--primary-gray-color);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.25;
    text-transform: uppercase;
}

.uptitle::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 1px;
    margin-right: 20px;
    background-color: currentColor;
}

.gray-uptitle {
    color: rgba(157, 164, 189, 0.6);
}

.hero-title {
    margin-bottom: 20px;
    color: var(--primary-white-color);
    font-family: 'Raleway', sans-serif;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
}

.primary-text {
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 0.02em;
}

.text {
    color: var(--primary-text-color)
}

/* about */
.about {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-title {
    font-family: 'Raleway';
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
}

.text-color {
    color: var(--secondary-text-color);
}

.about-flex {
    display: flex;
    gap: 30px;
}

.about-list {
    display: flex;
    gap: 30px;
}

.about-wrap {
    max-width: 470px;
}

.about-text {
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.85;
    letter-spacing: 0.02em;
}

.about-title {
    margin-bottom: 20px;
}

.about-p {
    margin-bottom: 20px;
}

.btn-gray {
    margin-top: 42px;
    color: var(--primary-gray-color);
}

/* prices */
.prices {
    padding: 120px 215px;
    background-color: #111319;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    margin: 0 auto;
}

.prices-flex {
    display: flex;
    justify-content: space-between;
}

.prices-list {
    min-width: 570px;
}

.prices-first {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 22px;
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.prices-second {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 22px;
    background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
    ;
}

.prices-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 12px;
}

.prices-span {
    order: 1;
}

.prices-item:not(:last-child) {
    margin-bottom: 20px;
}

.prices-item::after {
    content: '';
    width: 100px;
    height: 1px;
    background-color: rgba(157, 164, 189, 0.12);
    flex-grow: 1;
}

.gray-uptitle {
    color: rgba(157, 164, 189, 0.6)
}

.title-white {
    margin-bottom: 44px;
    color: var(--primary-white-color);
}

.price-btn {
    display: block;
    margin-top: 44px;
    margin-left: auto;
    margin-right: auto;
}

/* advantages */
.advantages {
    padding-top: 120px;
    padding-bottom: 120px;
}

.advantages-flex {
    display: flex;
    padding-left: 100px;
}

.adv-list {
    width: 370px;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.adv-item {
    width: 170px;
    height: 133px;
    padding: 20px 24px;
    text-align: center;
    background-color: #F7F7F7;
}

.adv-item:nth-child(odd) {
    margin-right: 30px;
}

.adv-item:nth-child(even) {
    margin-top: 30px;
}

.numbers {
    display: flex;
    justify-content: center;
    color: var(--primary-gray-color);
    font-weight: 700;
    font-size: 42px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: 0.05em;
}

.numbers::after {
    content: '+';
    margin-top: 7px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.37;
    color: #FF6C00;
}

.advantages-text {
    margin-left: 130px;
    max-width: 500px;
    padding-top: 9px;
}

.adv-description {
    color: var(--primary-gray-color);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.35;
    text-align: center;
}

/* barbers */
.barbers {
    padding: 120px 215px;
    background-color: #F7F7F7;
}

.barbers-heading {
    margin-bottom: 44px;
}

.barbers-list {
    display: flex;
    gap: 30px;
}

.barbers-title {
    margin-top: 30px;
    color: var(--primary-gray-color);
    font-weight: normal;
    font-size: 18px;
    line-height: 1.38;
    text-align: center;
    letter-spacing: 0.02em;
}

.barbers-text {
    margin-top: 9px;
    color: var(--accent-color);
    font-size: 14px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: 0.02em;
}

.icons-list {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.icons-item:not(:last-child) {
    margin-right: 10px;
}

.icon-link {
    display: inline-block;
    width: 44px;
    height: 44px;
    padding: 12px;
    color: var(--primary-gray-color);
    background-color: #ffffff;
    border-radius: 50%;
}

.icon-link:hover,
.icon-link:focus {
    color: var(--accent-color);
}

.icon {
    fill: currentColor;
}

/* portfolio */
.portfolio {
    padding: 120px 215px;
}

.portfolio-uptitle {
    margin-bottom: 44px;
}

.portfolio-list {
    display: flex;
    gap: 30px;
}

/* contacts */
.contacts-booking {
    padding-top: 130px;
    padding-bottom: 120px;
    background-color: #191C26;
    background-image: url(../images/bg2.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: calc(50% - 15px) 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.cb-wrap {
    display: flex;
}

.booking {
    width: calc(50% + 15px);
}

.contacts {
    width: calc(50% - 15px);
    padding-left: 100px;
}

.contacts-title {
    margin-bottom: 40px;
}

.contacts-list {
    margin-bottom: 70px;
}

.address {
    font-weight: 700;
}

.address-item:not(:last-child) {
    margin-bottom: 20px;
}

.address-link {
    font-style: normal;
    font-size: 18px;
    line-height: 1.66;
    color: var(--primary-text-color);
}

.contacts-uptitle {
    color: var(--primary-white-color)
}

/* footer */
.footer-wrap {
    padding: 56px 215px;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
}

.footer-list {
    display: flex;
    gap: 40px;
    align-items: center;
}

.footer-list::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: currentColor;
    display: inline-block;
}

.footer {
    color: var(--primary-text-color);
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.2em;
}

.dark {
    color: var(--primary-gray-color);
}